<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/product.css">
  
<body>
  <div class="mmm_container">
     <div class="mmm_header">
         <div class="hd_left">
           <a href="#">
            <img src="./images/header_logo.png" alt="">
          </a>
         </div>
         <div class="hd_right">
            <a href="#">
               <img src="./images/header_app.png" alt="">
            </a>
         </div>
     </div>
     <div class="mmm_main">
        <div class="mmm_search clearfix">
            <input type="text" placeholder="请输入你想比较的商品">
            <div class='search'><a href="#">搜索</a></div>
       </div>
       <div class='mmm_line'>
           <!-- 挖个坑 -->
       </div>
       <div class="mmm_dh">
           <!-- 第二个坑 -->
           <ul>

           </ul>
       </div>
         <!-- 分页dom结构 -->
        <div class="mmm_page">
              <!-- 分页 -->
              <span class='previous'><a href='javascript:;'>上一页</a></span>
              <select class='select'>
                  <!-- 下拉选项框 -->
              </select>
             <span class='next'><a href='javascript:;'>下一页</a></span>
        </div>
     </div>
     <div class="mmm_bottom">
        <div class="bt_top">
            <ul class='clearfix'>
              <li>
                <a href='#'>登陆</a>
              </li>
              <li>
                <a href='#'>注册</a>
              </li>
              <li>           
                <a href='#'>
                   <span>返回顶部</span>
                   <img src="./images/top.jpg" class='top_jt' alt="">
                </a>
              </li>
            </ul>
        </div>
        <div class="bt_bottom">
           <p><a href="#" style='color:#ff1b32'>手机APP下载 </a><a href="#"> 慢慢买手机版</a><span style='color:#939292'>--掌上比价平台</span></p>
           <p>m.manmanbuy.com</p>
        </div>
     </div>
  </div>

  <script>
    (window.onresize = window.__setFontSize__ = function () {
      document.documentElement.style.fontSize = Math.min(750, Math.max(document.documentElement.clientWidth,
        320)) / 750 * 75 + 'px'
    })()
  </script>
  <script type='text/html' id='bgTpl'>
    {{each result v i}}
    <div class="line_left"  data-id={{v.categoryId}}>
        <a href="index.html" style='color:black;'>首页></a>
        <a href="category.html" style='color:black;'>全部分类></a>
        <a href="#" style='color:black;'>{{v.category}}></a>
    </div>
    {{/each}}
    <div class="line-right">
         <button>筛选</button>
    </div>
  </script>
  <script  type='text/html' id='listTpl'>
  {{each result v i}}
   
     <li>
  <a href="bijia.html?categoryid={{v.categoryId}}&productid={{v.productId}}&comments={{v.productCom}}">
    <div class="dh_imgbox">
       {{@ v.productImg}}
    </div>
    <div class='right_box'>
        <p class='txt-cut'>{{@ v.productName}}</p>
        <p class='red'>{{v.productPrice}}</p>
        
        <span class='bj'>{{v.productQuote}}</span> <span class='bj'>{{v.productCom}}</span>
    </div>
  </a>
    </li>
     
    {{/each}}
    
  </script>
  <script type="text/html" id="selectTmp">
    <% for(var i = 1; i <= pages; i++) {%>
    <option value="{{i}}" {{ i== pageid ? 'selected="selected"' : ''}}> <%= i %> / <%= pages %></option>
    <% } %>
</script>

  <script src="./lib/jquery/jquery.min.js"></script>
  <script src="./lib/template/template-web.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/productlist.js"></script>
</body>

</html>